/* container */
.container{
    width: 75%;
    max-width: 1300px;

    box-sizing: border-box;
    margin: 0 auto;
}



/* Title */
.title{
    color: var(--secondary);
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: capitalize;
}



/* paragraph */
.paragraph{
    color: #848484;
    font-size: 1rem;
    font-weight: 500;
    line-height: var(--lineHeight-1);
}



/* Responsive */
/* 750 */
@media (max-width: 750px) {
    /* Container */
    .container{
        width: 90%;
    }
}