:root{
    /* Colors */
    --primary: #2ecc71;
    --secondary: #222222;



    /* Line height */
    --lineHeight-1: 1.7rem;

    /* Padding */
    --paddingy-section: 50px 0;
}



/* decdb4 */
/* e3e3e3 */
/* d4d4d4 */