footer{
    background-color: #e3e3e3;

    padding: 50px 0;
}

/* nav */
footer nav{
    width: 500px;

    display: flex;
    justify-content: space-between;

    margin: 0 auto;
}
/* a */
footer nav a{
    color: #848484;
    font-size: 1rem;
}