#header{
    height: 450px;

    background-image: url("../../images/header/banner.jpg.png");
    background-size: cover;
    
    border-top: 6px solid var(--primary);
}

/* Container */
#header-container{
    height: 100%;

    display: flex;
    justify-content: space-between;
}





/* Left content */
#header-leftContent{
    max-width: 400px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-right: 50px;
}

/* logo */
#header-leftContent img{
    width: 150px;

    margin-bottom: 1rem;
}

/* p */
#header-leftContent p{
    color: #fff;
    font-size: 1.2rem;
    line-height: var(--lineHeight-1);

    margin-bottom: 2rem
}

/* Platforms */
#header-leftContent-platforms i{
    color: #decfb5;
    background-color: rgba(0, 0, 0, 0.5);

    border-radius: 50%;
    cursor: pointer;

    padding: 10px;
    transition: color .2s, background-color .2s;
}
#header-leftContent-platforms i:hover{
    color: #fff;
    background-color: var(--primary);
}





/* Right content */
#header-rightContent{
    display: flex;
    align-items: flex-end;
}
/* img */
#header-rightContent img{
    height: 370px;
}





/* Responsive */
/* 1024 */
@media (min-width: 1024px) and (max-width: 1024px){
    /* Height */
    /* 1366 */
    @media (min-height: 1366px) and (max-height: 1366px){
        #header{
            height: 50vh;
        }
    
        /* Container */
        #header-container{
            flex-direction: column;
        }    



        /* Left content */
        #header-leftContent{
            width: auto;

            padding: 0 20px;
            padding-top: 20px;
        }



        /* Right content */
        #header-rightContent{
            justify-content: flex-end;
        }
        /* img */
        #header-rightContent img{
            height: 25rem;
        }
    }
}

/* 800 */
@media (max-width: 800px) {
    #header{
        height: 80vh;
    }

    /* Container */
    #header-container{
        flex-direction: column;
    }



    /* Left content */
    #header-leftContent{
        width: auto;

        padding: 0 20px;
        padding-top: 20px;
    }



    /* Right content */
    #header-rightContent{
        justify-content: flex-end;
    }
    /* img */
    #header-rightContent img{
        height: 25rem;
    }



    /* Height */
    /* 1280 */
    @media (min-height: 1280px) and (max-height: 1280px){
        #header{
            height: 55vh;
        }

        /* Right content */
        /* img */
        #header-rightContent img{
            height: 28rem;
        }
    }
}

/* 768 */
@media (max-width: 768px) and (min-width: 768px) {
    /* Height */
    /* 1024 */
    @media (max-height: 1024px) and (min-height: 1024px) {
        #header{
            height: 40vh;
        }
        
        #header-container{
            flex-direction: row;
        }

        /* Right content */
        /* img */
        #header-rightContent img{
            height: 280px;
        }
    }
}

/* 640 */
@media (max-width: 640px) and (min-width: 640px) {
    /* Height */
    /* 360 */
    @media (min-height: 360px) and (max-height: 360px){
        #header{
            height: 100vh;
        }
        
        /* Container */
        #header-container{
            flex-direction: row;
        }

        /* Right content */
        /* img */
        #header-rightContent img{
            height: 280px;
        }
    }
}

/* 600 */
@media (max-width: 600px) and (min-width: 600px) {
    /* Height */
    /* 960 */
    @media (min-height: 960px) and (max-height: 960px){
        #header{
            height: 60vh;
        }

        /* Right content */
        /* img */
        #header-rightContent img{
            height: 340px;
        }
    }
}

/* 450 */
@media (max-width: 450px) {
    #header{
        height: 75vh;
    }

    /* Right content */
    /* img */
    #header-rightContent img{
        height: 300px;
    }
}

/* 412 */
@media (max-width: 410px) and (min-width: 420px) {
    /* Height */
    /* 730 */
    @media (min-height: 730px) and (max-height: 740px){
        #header{
            border: 5px solid red;
        }
    }
}

/* 384 */
@media (max-width: 384px) {
    #header{
        height: 85vh;
    }
}

/* 320 */
@media (max-width: 320px) {
    /* Height */
    /* 533 */
    @media (min-height: 533px) and (max-height: 533px){
        /* Logo */
        #header-leftContent img{
            width: 130px;
        }
        /* Right content */
        /* img */
        #header-rightContent img{
            height: 200px;
        }
    }
}