#thirdSection{
    text-align: center;

    padding: var(--paddingy-section);
}





/* Text */
/* p */
#thirdSection-text{
    margin-bottom: 1rem;
}





/* Team member name */
#thirdSection-memberName{
    color: var(--secondary);
    font-size: 1rem;
    font-weight: 500;

    margin-bottom: 1.5rem;
}





/* Image of team members */
#thirdSection-imageTeamMembers{
    display: flex;
    justify-content: space-between;

    margin-bottom: 2.5rem;
}
/* div */
.thirdSection-imageTeamMembers-div {
    width: 45px;
    height: 35px;

    object-fit: cover;

    position: relative;
}
/* img */
.thirdSection-imageTeamMembers-div img{
    width: 100%;
    height: 100%;
}.thirdSection-imageTeamMembers-div:hover::after{
    content: "";

    width: 100%;
    height: 100%;

    background-color: rgba(46, 204, 113, .5);

    position: absolute;
    top: 0;
    left: 0;
}





/* Social networks */
/* h3 */
#thirdSection-socialNetworks h3{
    margin-bottom: .7rem;
}
/* p */
#thirdSection-socialNetworks p{
    margin-bottom: 1rem;
}
/* Icons */
#thirdSection-socialNetworks-icons{
    display: flex;
    justify-content: center;
}
/* i */
#thirdSection-socialNetworks-icons i{
    color: #fff;
    font-size: 1rem;
    background-color: #d4d4d4;
    border-radius: 50%;
    cursor: pointer;

    margin: 0 5px;
    padding: 10px;
    transition: color .2s, background-color .2s;
}
#thirdSection-socialNetworks-icons i:hover{
    background-color: var(--primary);
}




/* Responsive */
/* 1270 */
@media (max-width: 1270px) {
    /* Image of team members */
    #thirdSection-imageTeamMembers{
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* 800 */
@media (max-width: 800px) {
    /* Text */
    /* p */
    #thirdSection-text{
        padding: 0 20px;
    }
}